[submodule "common"]
	path = common
	url = ../common
[submodule "entities"]
	path = entities
	url = ../entities
[submodule "config"]
	path = config
	url = ../config
[submodule "asn1-j2735"]
	path = asn1-j2735
	url = ../asn1-j2735
